<body id="page-top" class="index">
<!--File Created by: Ian Lai Kheng Yan-->

<script src="/javascripts/Chart.min.js"></script>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
      rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>


<!--</style>-->


<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top"
     style="background-color:#222222;padding:10px 0;">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/crow-logo.png" alt="CROW Logo"
                                                                      style="width:auto;height:40px;border:0;"/></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="row">

                <div class="col-md-6 text-center" style="color: white;">
                    <h2>

                        Welcome,{{firstname}}

                    </h2>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll " href="/page/adminUserApproval">Approve/Deny Users</a>
                    </li>
                    <li>
                        <a class="page-scroll " href="/page/adminContactUs">View Forms</a>
                    </li>
                    <li>

                        <a href="/page/logout" class="solutions-link btn btn-primary btn-sm" data-toggle="modal"
                           style="border-radius: 3px;">Logout</a>
                    </li>
                </ul>

            </div>

        </div>


    </div>

</nav>


<section id="overview" class="bg-light-gray">
    <div class="container" style="width:80%;">


        <div class="row">
            <div class="col-lg-10 text-center">
                <h5>SortBy: <span id="sortbyMtd" style="text-decoration: underline;"></span> | Year: <span id="yearmtd"
                                                                                                           style="text-decoration: underline;"></span>
                    | Month: <span id="monthmtd" style="text-decoration: underline;"></span> | Displayed User: <span
                            id="usermtd" style="text-decoration: underline;"></span></h5>

                <div id="canvasChartjs">
                    <canvas id="myChart"></canvas>
                </div>


            </div>
            <div class="col-lg-2 text-center">


                <div class="panel-body">
                    <label>Sort by: </label>
                    <select id="sortBy" class="form-control" name="sortBy" onchange="myFunction()" required>
                        <option value="">Select a option</option>
                        <option value="year">Year</option>
                        <option value="month">Month</option>
                    </select>
                </div>
                <div id="userselect" class="panel-body userselect">
                    <label>User Options: </label>
                    <input id="userselection" name="userselection" class="form-control" type="text">

                    <button type="button" onclick="findCloesetUser()" id="findcloestuser"
                            class="btn btn-primary btn-sm">Find closest user
                    </button>
                    <select id="sectorSelectjs" class="form-control" name="workSector" onchange="selectorChange()"
                            required>


                        <option value=""></option>


                    </select>

                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                           onclick="oncheckboxcheck()">

                    <label class="form-check-label" for="defaultCheck1"></label>
                    Show all users


                </div>

                <div class="panel-body">
                    <label>Select Year: </label>
                    <input name="year" class="form-control" type="text" id="datepickeryear">


                </div>
                <div id="monthSelect" class="panel-body monthdisplay" style="visibility: hidden">
                    <label>Select Month: </label>
                    <input name="month" class="form-control" type="text" id="datepickermonth">


                </div>
                <!--onclick="getinputdat()"-->
                <button onclick="getinputdat()" type="button" class="btn btn-primary btn-md">Show</button>
                <!--<button onclick="testingfunction()" type="button" class="btn btn-primary btn-md">Show</button>-->
                <br>
                <br>


                <!--</form>-->

            </div>

        </div>


    </div>
</section>

<script>var _0xd0c1 = ['rer', 'getElementById', 'sortBy', 'value', 'month', 'monthSelect', 'style', 'visibility', 'visible', 'hidden', 'destroy', 'getContext', 'line', 'Login', 'rgb(255,\x2099,\x20132)', 'rgb(0,\x20191,\x20255)', 'defaults', 'global', 'animation', 'DUN\x20HELLO', 'userselection', 'split', 'All', 'sectorSelectjs', 'setAttribute', 'readonly', 'findcloestuser', 'eNK', 'val', 'removeAttribute', 'createElement', 'option', 'text', 'options', 'add', 'datepickeryear', 'datepickermonth', 'emit', 'reqgraphdata', 'RUNN', '{{emailAddress}}', 'findcloestUserAdm', 'sendlistofusers', 'length', 'JOW', 'remove', '--Select--', 'graphLabel', 'graphData2', 'sortmtd', 'yearmtd', 'monthmtd', 'usermtd', 'sortbyMtd', 'innerHTML', 'xaE', 'NIL', 'toString', 'dTm', 'datepicker', 'yyyy', 'months', '{{session}}', 'year', '2018', 'log', 'myNewChart1', 'FMQ'];
(function (_0x37dddd, _0x278e85) {
    var _0x5d963e = function (_0x2899d9) {
        while (--_0x2899d9) {
            _0x37dddd['push'](_0x37dddd['shift']());
        }
    };
    _0x5d963e(++_0x278e85);
}(_0xd0c1, 0x14b));
var _0x442b = function (_0x504e61, _0x31e2dd) {
    _0x504e61 = _0x504e61 - 0x0;
    var _0x14c5d9 = _0xd0c1[_0x504e61];
    return _0x14c5d9;
};
$(function () {
    $('#datepickeryear')[_0x442b('0x0')]({'minViewMode': 'years', 'autoclose': !![], 'format': _0x442b('0x1')});
    $('#datepickermonth')[_0x442b('0x0')]({'minViewMode': _0x442b('0x2'), 'autoclose': !![], 'format': 'MM'});
    var _0x263b2a = {
        'emailAddress': '{{emailAddress}}',
        'session': _0x442b('0x3'),
        'sortby': _0x442b('0x4'),
        'year': _0x442b('0x5'),
        'month': '',
        'user': ''
    };
    socket['emit']('reqgraphdata', _0x263b2a);
});

function newGraphData(_0x3ffc3b, _0x374c6f, _0x5a03d7) {
    console[_0x442b('0x6')](_0x3ffc3b);
    console[_0x442b('0x6')](_0x374c6f);
    console['log'](_0x5a03d7);
    if (window[_0x442b('0x7')] != null) {
        if ('DTV' === _0x442b('0x8')) {
            console[_0x442b('0x6')](_0x442b('0x9'));
            let _0x4c0a6a = document[_0x442b('0xa')](_0x442b('0xb'))[_0x442b('0xc')];
            if (_0x4c0a6a['toString']() == _0x442b('0xd')) {
                document[_0x442b('0xa')](_0x442b('0xe'))[_0x442b('0xf')][_0x442b('0x10')] = _0x442b('0x11');
            } else {
                document[_0x442b('0xa')](_0x442b('0xe'))['style']['visibility'] = _0x442b('0x12');
            }
            console['log'](_0x4c0a6a);
        } else {
            window[_0x442b('0x7')][_0x442b('0x13')]();
        }
    }
    var _0x921b5e = document[_0x442b('0xa')]('myChart')[_0x442b('0x14')]('2d');
    window[_0x442b('0x7')] = new Chart(_0x921b5e, {
        'type': _0x442b('0x15'),
        'data': {
            'labels': _0x3ffc3b,
            'datasets': [{
                'label': _0x442b('0x16'),
                'borderColor': _0x442b('0x17'),
                'data': _0x374c6f,
                'fill': ![]
            }, {'label': 'Register', 'borderColor': _0x442b('0x18'), 'data': _0x5a03d7, 'fill': ![]}]
        },
        'options': {}
    });
    Chart[_0x442b('0x19')][_0x442b('0x1a')][_0x442b('0x1b')]['duration'] = 0xbb8;
}

function selectorChange() {
    console['log'](_0x442b('0x1c'));
    var _0x58025d = document[_0x442b('0xa')]('sectorSelectjs')['value'];
    console[_0x442b('0x6')](_0x58025d);
    document['getElementById'](_0x442b('0x1d'))[_0x442b('0xc')] = _0x58025d[_0x442b('0x1e')]('\x20')[0x0];
}

function oncheckboxcheck() {
    if (document[_0x442b('0xa')]('defaultCheck1')['checked']) {
        document[_0x442b('0xa')](_0x442b('0x1d'))['value'] = _0x442b('0x1f');
        document[_0x442b('0xa')](_0x442b('0x20'))[_0x442b('0xc')] = _0x442b('0x1f');
        document['getElementById'](_0x442b('0x1d'))[_0x442b('0x21')](_0x442b('0x22'), !![]);
        document[_0x442b('0xa')](_0x442b('0x20'))[_0x442b('0x21')](_0x442b('0x22'), !![]);
        document[_0x442b('0xa')](_0x442b('0x23'))[_0x442b('0xf')][_0x442b('0x10')] = _0x442b('0x12');
    } else {
        if ('eNK' === _0x442b('0x24')) {
            document[_0x442b('0xa')]('userselection')[_0x442b('0xc')] = '';
            document[_0x442b('0xa')](_0x442b('0x20'))[_0x442b('0x25')] = '';
            document[_0x442b('0xa')](_0x442b('0x1d'))[_0x442b('0x26')](_0x442b('0x22'));
            document[_0x442b('0xa')](_0x442b('0x20'))[_0x442b('0x26')](_0x442b('0x22'));
            document[_0x442b('0xa')](_0x442b('0x23'))[_0x442b('0xf')][_0x442b('0x10')] = 'visible';
        } else {
            var _0x33998d = document[_0x442b('0x27')](_0x442b('0x28'));
            _0x33998d[_0x442b('0x29')] = data[i];
            _0x33998d[_0x442b('0xc')] = data[i];
            select[_0x442b('0x2a')][_0x442b('0x2b')](_0x33998d);
        }
    }
}

var socket = io();

function getinputdat() {
    var _0x1b004d = document[_0x442b('0xa')](_0x442b('0xb'))[_0x442b('0xc')];
    var _0x56c2eb = document['getElementById'](_0x442b('0x2c'))[_0x442b('0xc')];
    var _0xaa2cde = document['getElementById'](_0x442b('0x2d'))[_0x442b('0xc')];
    var _0x46b6a2 = document[_0x442b('0xa')](_0x442b('0x1d'))[_0x442b('0xc')];
    console[_0x442b('0x6')](_0x1b004d);
    console[_0x442b('0x6')](_0x56c2eb);
    console[_0x442b('0x6')](_0xaa2cde);
    var _0x35a91f = {
        'emailAddress': '{{emailAddress}}',
        'session': _0x442b('0x3'),
        'sortby': _0x1b004d,
        'year': _0x56c2eb,
        'month': _0xaa2cde,
        'user': _0x46b6a2
    };
    socket[_0x442b('0x2e')](_0x442b('0x2f'), _0x35a91f);
}

function findCloesetUser() {
    console['log'](_0x442b('0x30'));
    let _0x2a41ae = document[_0x442b('0xa')](_0x442b('0x1d'))[_0x442b('0xc')];
    console[_0x442b('0x6')](_0x2a41ae);
    let _0x442edb = {'username': _0x2a41ae, 'emailAddress': _0x442b('0x31'), 'session': _0x442b('0x3')};
    socket[_0x442b('0x2e')](_0x442b('0x32'), _0x442edb);
}

socket['on'](_0x442b('0x33'), function (_0x123c2d) {
    console[_0x442b('0x6')](_0x123c2d);
    var _0x4fdd0b = document[_0x442b('0xa')](_0x442b('0x20'));
    while (_0x4fdd0b['options'][_0x442b('0x34')] > 0x0) {
        if (_0x442b('0x35') === 'JOW') {
            _0x4fdd0b[_0x442b('0x36')](0x0);
        } else {
            document['getElementById'](_0x442b('0x1d'))[_0x442b('0xc')] = '';
            document[_0x442b('0xa')]('sectorSelectjs')[_0x442b('0x25')] = '';
            document[_0x442b('0xa')]('userselection')[_0x442b('0x26')](_0x442b('0x22'));
            document[_0x442b('0xa')](_0x442b('0x20'))[_0x442b('0x26')]('readonly');
            document[_0x442b('0xa')](_0x442b('0x23'))[_0x442b('0xf')][_0x442b('0x10')] = 'visible';
        }
    }
    var _0x4ca2d7 = document[_0x442b('0x27')]('option');
    _0x4ca2d7[_0x442b('0x29')] = _0x442b('0x37');
    _0x4ca2d7[_0x442b('0xc')] = '';
    _0x4fdd0b[_0x442b('0x2a')][_0x442b('0x2b')](_0x4ca2d7);
    for (var _0x1793d8 = 0x0; _0x1793d8 < _0x123c2d[_0x442b('0x34')]; _0x1793d8++) {
        var _0x4ca2d7 = document[_0x442b('0x27')](_0x442b('0x28'));
        _0x4ca2d7[_0x442b('0x29')] = _0x123c2d[_0x1793d8];
        _0x4ca2d7[_0x442b('0xc')] = _0x123c2d[_0x1793d8];
        _0x4fdd0b['options']['add'](_0x4ca2d7);
    }
});
socket['on']('graphDataLoadAdm', function (_0x1dc595) {
    newGraphData(_0x1dc595[_0x442b('0x38')], _0x1dc595['graphData1'], _0x1dc595[_0x442b('0x39')]);
    var _0x39a9e9 = _0x1dc595[_0x442b('0x3a')];
    var _0x28fb0f = _0x1dc595[_0x442b('0x3b')];
    var _0x315447 = _0x1dc595[_0x442b('0x3c')];
    var _0x2a4bf3 = _0x1dc595[_0x442b('0x3d')];
    console[_0x442b('0x6')](_0x28fb0f);
    document['getElementById'](_0x442b('0x3e'))[_0x442b('0x3f')] = _0x39a9e9;
    document[_0x442b('0xa')](_0x442b('0x3b'))['innerHTML'] = _0x28fb0f;
    document[_0x442b('0xa')](_0x442b('0x3d'))[_0x442b('0x3f')] = _0x2a4bf3;
    if (_0x39a9e9 == 'year') {
        if (_0x442b('0x40') === 'xaE') {
            document[_0x442b('0xa')](_0x442b('0x3c'))[_0x442b('0x3f')] = _0x442b('0x41');
        } else {
            document[_0x442b('0xa')](_0x442b('0xe'))[_0x442b('0xf')][_0x442b('0x10')] = _0x442b('0x12');
        }
    } else {
        document[_0x442b('0xa')](_0x442b('0x3c'))[_0x442b('0x3f')] = _0x315447;
    }
});

function myFunction() {
    console[_0x442b('0x6')](_0x442b('0x9'));
    let _0x3e1d49 = document[_0x442b('0xa')](_0x442b('0xb'))['value'];
    if (_0x3e1d49[_0x442b('0x42')]() == 'month') {
        document[_0x442b('0xa')](_0x442b('0xe'))['style'][_0x442b('0x10')] = 'visible';
    } else {
        if ('dTm' === _0x442b('0x43')) {
            document['getElementById'](_0x442b('0xe'))[_0x442b('0xf')][_0x442b('0x10')] = _0x442b('0x12');
        } else {
            var _0x305caa = document[_0x442b('0xa')]('sortBy')[_0x442b('0xc')];
            var _0x2bdd12 = document['getElementById'](_0x442b('0x2c'))['value'];
            var _0x1b00e3 = document[_0x442b('0xa')](_0x442b('0x2d'))[_0x442b('0xc')];
            var _0x210b47 = document[_0x442b('0xa')](_0x442b('0x1d'))[_0x442b('0xc')];
            console[_0x442b('0x6')](_0x305caa);
            console[_0x442b('0x6')](_0x2bdd12);
            console[_0x442b('0x6')](_0x1b00e3);
            var _0x34825c = {
                'emailAddress': _0x442b('0x31'),
                'session': _0x442b('0x3'),
                'sortby': _0x305caa,
                'year': _0x2bdd12,
                'month': _0x1b00e3,
                'user': _0x210b47
            };
            socket['emit']('reqgraphdata', _0x34825c);
        }
    }
    console[_0x442b('0x6')](_0x3e1d49);
}
</script>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CROW 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/crowaikato"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/CROWaikato/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/15084280"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><img style="width:100%;margin-top:15px;" src="/img/logos/CROW_Full-Logo-black.png"/></a>
                    </li>

            </div>
        </div>
    </div>
</footer>


<div class="solutions-modal modal fade" id="loginpop" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style=" background:rgba(0,0,0,0.8);">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr" style=" background-color: #ffffff;">
                    <div class="rl" style="background-color: #ffffff;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 style="color: #ffffff;">Welcome</h2>
                            <br>

                            <script src='https://www.google.com/recaptcha/api.js'></script>


                            <form method="post" action="/loginBackend" class="text-center">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Email
                                            address</label><br>
                                        <input name="username" type="text" class="form-control"
                                               id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email">

                                    </div>
                                </div>


                                <br>

                                <div class="row">

                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Password</label><br>
                                        <input name="password" type="password" class="form-control"
                                               id="exampleInputPassword1" placeholder="Password">

                                    </div>

                                </div>

                                <br>
                                <div class="row center-block">


                                </div>


                                <button type="submit" class="btn btn-primary">Log in</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="solutions-modal modal fade" id="solutionsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/roundicons-free.png"
                                 alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60
                                of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.
                            </p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="solutions-modal modal fade" id="solutionsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered"
                                 src="/img/portfolio/startup-framework-preview.png"
                                 alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website
                                builder
                                for professionals. Startup Framework contains components and complex blocks
                                (PSD+HTML
                                Bootstrap themes and templates) which can easily be integrated into almost any
                                design.
                                All of these components are made in the same style, and can easily be integrated
                                into
                                projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a
                                    href="http://designmodo.com/startup/?u=787">here</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="solutions-modal modal fade" id="solutionsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/treehouse-preview.png"
                                 alt="">
                            <p>Treehouse is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright
                                and
                                spacious design perfect for people or startup companies looking to showcase their
                                apps
                                or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="solutions-modal modal fade" id="solutionsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built
                                by
                                <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern
                                and
                                clean one page web template that was made exclusively for Best PSD Freebies. This
                                template has a great portfolio, timeline, and meet your team sections that can be
                                easily
                                modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="solutions-modal modal fade" id="solutionsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/escape-preview.png" alt="">
                            <p>Escape is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one
                                page
                                web template that was designed with agencies in mind. This template is ideal for
                                those
                                looking for a simple one page solution to describe your business and offer your
                                services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="solutions-modal modal fade" id="solutionsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/dreams-preview.png" alt="">
                            <p>Dreams is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a
                                modern
                                one page web template designed for almost any purpose. It’s a beautiful template
                                that’s
                                designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Theme JavaScript -->
<script src="/javascripts/agency.min.js"></script>

