<body id="page-top" class="index">
<script src="/javascripts/Chart.min.js"></script>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
      rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
</head>


<!--</style>-->


<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top"
     style="background-color:#222222;padding:10px 0;">
    <div class="container">

        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/crow-logo.png" alt="CROW Logo"
                                                                      style="width:auto;height:40px;border:0;"/></a>
        </div>


        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="row">

                <div class="col-md-6 text-center" style="color: white;">
                    <h2>

                        Welcome,{{firstname}}

                    </h2>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll " href="/page/adminUserApproval">Approve/Deny Users</a>
                    </li>
                    <li>
                        <a class="page-scroll " href="/page/adminContactUs">View Forms</a>
                    </li>
                    <li>

                        <a href="/page/logout" class="solutions-link btn btn-primary btn-sm" data-toggle="modal"
                           style="border-radius: 3px;">Logout</a>
                    </li>
                </ul>

            </div>

        </div>


    </div>

</nav>


<section id="overview" class="bg-light-gray">
    <div class="container" style="width:80%;">


        <div class="row">
            <div class="col-lg-10 text-center">
                <h5>SortBy: <span id="sortbyMtd" style="text-decoration: underline;"></span> | Year: <span id="yearmtd"
                                                                                                           style="text-decoration: underline;"></span>
                    | Month: <span id="monthmtd" style="text-decoration: underline;"></span> | Displayed User: <span
                            id="usermtd" style="text-decoration: underline;"></span></h5>

                <div id="canvasChartjs">
                    <canvas id="myChart"></canvas>
                </div>


            </div>
            <div class="col-lg-2 text-center">


                <div class="panel-body">
                    <label>Sort by: </label>
                    <select id="sortBy" class="form-control" name="sortBy" onchange="myFunction()" required>
                        <option value="">Select a option</option>
                        <option value="year">Year</option>
                        <option value="month">Month</option>
                    </select>
                </div>
                <div id="userselect" class="panel-body userselect">
                    <label>User Options: </label>
                    <input id="userselection" name="userselection" class="form-control" type="text">

                    <button type="button" onclick="findCloesetUser()" id="findcloestuser"
                            class="btn btn-primary btn-sm">Find closest user
                    </button>
                    <select id="sectorSelectjs" class="form-control" name="workSector" onchange="selectorChange()"
                            required>


                        <option value=""></option>


                    </select>

                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1"
                           onclick="oncheckboxcheck()">

                    <label class="form-check-label" for="defaultCheck1"></label>
                    Show all users


                </div>

                <div class="panel-body">
                    <label>Select Year: </label>
                    <input name="year" class="form-control" type="text" id="datepickeryear">


                </div>
                <div id="monthSelect" class="panel-body monthdisplay" style="visibility: hidden">
                    <label>Select Month: </label>
                    <input name="month" class="form-control" type="text" id="datepickermonth">


                </div>
                <!--onclick="getinputdat()"-->
                <button onclick="getinputdat()" type="button" class="btn btn-primary btn-md">Show</button>
                <!--<button onclick="testingfunction()" type="button" class="btn btn-primary btn-md">Show</button>-->
                <br>
                <br>


                <!--</form>-->

            </div>

        </div>


    </div>
</section>

<script>
    var _0x1142 = ['yearmtd', 'monthmtd', 'usermtd', 'sortbyMtd', 'innerHTML', 'NIL', 'ucl', 'rer', 'toString', 'month', 'Swe', 'monthSelect', 'datepicker', 'years', 'months', '{{emailAddress}}', '{{session}}', '2018', 'emit', 'reqgraphdata', 'log', 'myNewChart1', 'destroy', 'getElementById', 'myChart', 'getContext', 'line', 'Login', 'rgb(255,\x2099,\x20132)', 'Register', 'rgb(0,\x20191,\x20255)', 'duration', 'DUN\x20HELLO', 'sectorSelectjs', 'userselection', 'defaultCheck1', 'checked', 'value', 'All', 'setAttribute', 'readonly', 'findcloestuser', 'style', 'visibility', 'hidden', 'val', 'removeAttribute', 'visible', 'sortBy', 'datepickeryear', 'RUNN', 'findcloestUserAdm', 'sendlistofusers', 'options', 'pNX', '#datepickeryear', '#datepickermonth', 'year', 'option', '--Select--', 'add', 'length', 'MfN', 'IzS', 'text', 'remove', 'createElement', 'graphLabel', 'graphData1', 'graphData2', 'sortmtd'];
    (function (_0x114d10, _0x9e3461) {
        var _0x50a9f0 = function (_0x50b1bb) {
            while (--_0x50b1bb) {
                _0x114d10['push'](_0x114d10['shift']());
            }
        };
        _0x50a9f0(++_0x9e3461);
    }(_0x1142, 0xe1));
    var _0x3a55 = function (_0x1d46ed, _0x2e6d03) {
        _0x1d46ed = _0x1d46ed - 0x0;
        var _0x2ff5d7 = _0x1142[_0x1d46ed];
        return _0x2ff5d7;
    };
    $(function () {
        $('#datepickeryear')[_0x3a55('0x0')]({'minViewMode': _0x3a55('0x1'), 'autoclose': !![], 'format': 'yyyy'});
        $('#datepickermonth')[_0x3a55('0x0')]({'minViewMode': _0x3a55('0x2'), 'autoclose': !![], 'format': 'MM'});
        var _0x5ea95b = {
            'emailAddress': _0x3a55('0x3'),
            'session': _0x3a55('0x4'),
            'sortby': 'year',
            'year': _0x3a55('0x5'),
            'month': '',
            'user': ''
        };
        socket[_0x3a55('0x6')](_0x3a55('0x7'), _0x5ea95b);
    });

    function newGraphData(_0x527d67, _0x535d83, _0x8bcf61) {
        console[_0x3a55('0x8')](_0x527d67);
        console[_0x3a55('0x8')](_0x535d83);
        console[_0x3a55('0x8')](_0x8bcf61);
        if (window[_0x3a55('0x9')] != null) {
            window[_0x3a55('0x9')][_0x3a55('0xa')]();
        }
        var _0x3364a3 = document[_0x3a55('0xb')](_0x3a55('0xc'))[_0x3a55('0xd')]('2d');
        window[_0x3a55('0x9')] = new Chart(_0x3364a3, {
            'type': _0x3a55('0xe'),
            'data': {
                'labels': _0x527d67,
                'datasets': [{
                    'label': _0x3a55('0xf'),
                    'borderColor': _0x3a55('0x10'),
                    'data': _0x535d83,
                    'fill': ![]
                }, {'label': _0x3a55('0x11'), 'borderColor': _0x3a55('0x12'), 'data': _0x8bcf61, 'fill': ![]}]
            },
            'options': {}
        });
        Chart['defaults']['global']['animation'][_0x3a55('0x13')] = 0xbb8;
    }

    function selectorChange() {
        console[_0x3a55('0x8')](_0x3a55('0x14'));
        var _0x11f333 = document[_0x3a55('0xb')](_0x3a55('0x15'))['value'];
        console[_0x3a55('0x8')](_0x11f333);
        document[_0x3a55('0xb')](_0x3a55('0x16'))['value'] = _0x11f333;
    }

    function oncheckboxcheck() {
        if (document[_0x3a55('0xb')](_0x3a55('0x17'))[_0x3a55('0x18')]) {
            document[_0x3a55('0xb')]('userselection')[_0x3a55('0x19')] = 'All';
            document[_0x3a55('0xb')](_0x3a55('0x15'))[_0x3a55('0x19')] = _0x3a55('0x1a');
            document[_0x3a55('0xb')](_0x3a55('0x16'))[_0x3a55('0x1b')](_0x3a55('0x1c'), !![]);
            document[_0x3a55('0xb')](_0x3a55('0x15'))[_0x3a55('0x1b')](_0x3a55('0x1c'), !![]);
            document[_0x3a55('0xb')](_0x3a55('0x1d'))[_0x3a55('0x1e')][_0x3a55('0x1f')] = _0x3a55('0x20');
        } else {
            document[_0x3a55('0xb')]('userselection')[_0x3a55('0x19')] = '';
            document[_0x3a55('0xb')](_0x3a55('0x15'))[_0x3a55('0x21')] = '';
            document[_0x3a55('0xb')](_0x3a55('0x16'))[_0x3a55('0x22')](_0x3a55('0x1c'));
            document[_0x3a55('0xb')](_0x3a55('0x15'))[_0x3a55('0x22')](_0x3a55('0x1c'));
            document['getElementById'](_0x3a55('0x1d'))[_0x3a55('0x1e')]['visibility'] = _0x3a55('0x23');
        }
    }

    var socket = io();

    function getinputdat() {
        var _0x301744 = document[_0x3a55('0xb')](_0x3a55('0x24'))[_0x3a55('0x19')];
        var _0x23cbcf = document[_0x3a55('0xb')](_0x3a55('0x25'))['value'];
        var _0x5062c4 = document[_0x3a55('0xb')]('datepickermonth')[_0x3a55('0x19')];
        var _0x13bd8d = document[_0x3a55('0xb')](_0x3a55('0x16'))[_0x3a55('0x19')];
        console[_0x3a55('0x8')](_0x301744);
        console[_0x3a55('0x8')](_0x23cbcf);
        console[_0x3a55('0x8')](_0x5062c4);
        var _0x887669 = {
            'emailAddress': _0x3a55('0x3'),
            'session': _0x3a55('0x4'),
            'sortby': _0x301744,
            'year': _0x23cbcf,
            'month': _0x5062c4,
            'user': _0x13bd8d
        };
        socket[_0x3a55('0x6')](_0x3a55('0x7'), _0x887669);
    }

    function findCloesetUser() {
        console[_0x3a55('0x8')](_0x3a55('0x26'));
        let _0x16a06e = document['getElementById'](_0x3a55('0x16'))[_0x3a55('0x19')];
        console['log'](_0x16a06e);
        let _0x4c7e76 = {'username': _0x16a06e, 'emailAddress': _0x3a55('0x3'), 'session': '{{session}}'};
        socket[_0x3a55('0x6')](_0x3a55('0x27'), _0x4c7e76);
    }

    socket['on'](_0x3a55('0x28'), function (_0x3d2198) {
        console[_0x3a55('0x8')](_0x3d2198);
        var _0x2c04b0 = document[_0x3a55('0xb')](_0x3a55('0x15'));
        while (_0x2c04b0[_0x3a55('0x29')]['length'] > 0x0) {
            if (_0x3a55('0x2a') !== _0x3a55('0x2a')) {
                $(_0x3a55('0x2b'))[_0x3a55('0x0')]({
                    'minViewMode': _0x3a55('0x1'),
                    'autoclose': !![],
                    'format': 'yyyy'
                });
                $(_0x3a55('0x2c'))[_0x3a55('0x0')]({'minViewMode': _0x3a55('0x2'), 'autoclose': !![], 'format': 'MM'});
                var _0x2d934b = {
                    'emailAddress': '{{emailAddress}}',
                    'session': _0x3a55('0x4'),
                    'sortby': _0x3a55('0x2d'),
                    'year': _0x3a55('0x5'),
                    'month': '',
                    'user': ''
                };
                socket[_0x3a55('0x6')]('reqgraphdata', _0x2d934b);
            } else {
                _0x2c04b0['remove'](0x0);
            }
        }
        var _0x29318a = document['createElement'](_0x3a55('0x2e'));
        _0x29318a['text'] = _0x3a55('0x2f');
        _0x29318a['value'] = '';
        _0x2c04b0['options'][_0x3a55('0x30')](_0x29318a);
        for (var _0x42392f = 0x0; _0x42392f < _0x3d2198[_0x3a55('0x31')]; _0x42392f++) {
            if (_0x3a55('0x32') !== _0x3a55('0x33')) {
                var _0x4a0e01 = document['createElement'](_0x3a55('0x2e'));
                _0x4a0e01[_0x3a55('0x34')] = _0x3d2198[_0x42392f];
                _0x4a0e01['value'] = _0x3d2198[_0x42392f];
                _0x2c04b0[_0x3a55('0x29')][_0x3a55('0x30')](_0x4a0e01);
            } else {
                console[_0x3a55('0x8')](_0x3d2198);
                var _0x5ab34a = document['getElementById'](_0x3a55('0x15'));
                while (_0x5ab34a['options']['length'] > 0x0) {
                    _0x5ab34a[_0x3a55('0x35')](0x0);
                }
                var _0x3446cc = document[_0x3a55('0x36')]('option');
                _0x3446cc['text'] = _0x3a55('0x2f');
                _0x3446cc['value'] = '';
                _0x5ab34a[_0x3a55('0x29')][_0x3a55('0x30')](_0x3446cc);
                for (var _0x145e70 = 0x0; _0x145e70 < _0x3d2198[_0x3a55('0x31')]; _0x145e70++) {
                    var _0x3446cc = document['createElement'](_0x3a55('0x2e'));
                    _0x3446cc[_0x3a55('0x34')] = _0x3d2198[_0x145e70];
                    _0x3446cc[_0x3a55('0x19')] = _0x3d2198[_0x145e70];
                    _0x5ab34a[_0x3a55('0x29')][_0x3a55('0x30')](_0x3446cc);
                }
            }
        }
    });
    socket['on']('graphDataLoadAdm', function (_0x5ce587) {
        newGraphData(_0x5ce587[_0x3a55('0x37')], _0x5ce587[_0x3a55('0x38')], _0x5ce587[_0x3a55('0x39')]);
        var _0x42fb35 = _0x5ce587[_0x3a55('0x3a')];
        var _0x492b0f = _0x5ce587[_0x3a55('0x3b')];
        var _0xd5fd66 = _0x5ce587[_0x3a55('0x3c')];
        var _0x53df34 = _0x5ce587[_0x3a55('0x3d')];
        console[_0x3a55('0x8')](_0x492b0f);
        document[_0x3a55('0xb')](_0x3a55('0x3e'))[_0x3a55('0x3f')] = _0x42fb35;
        document[_0x3a55('0xb')](_0x3a55('0x3b'))['innerHTML'] = _0x492b0f;
        document[_0x3a55('0xb')](_0x3a55('0x3d'))[_0x3a55('0x3f')] = _0x53df34;
        if (_0x42fb35 == 'year') {
            document[_0x3a55('0xb')]('monthmtd')[_0x3a55('0x3f')] = _0x3a55('0x40');
        } else {
            if ('vgQ' !== _0x3a55('0x41')) {
                document['getElementById'](_0x3a55('0x3c'))[_0x3a55('0x3f')] = _0xd5fd66;
            } else {
                document['getElementById']('userselection')[_0x3a55('0x19')] = '';
                document[_0x3a55('0xb')](_0x3a55('0x15'))[_0x3a55('0x21')] = '';
                document['getElementById'](_0x3a55('0x16'))[_0x3a55('0x22')]('readonly');
                document['getElementById'](_0x3a55('0x15'))['removeAttribute'](_0x3a55('0x1c'));
                document[_0x3a55('0xb')]('findcloestuser')[_0x3a55('0x1e')][_0x3a55('0x1f')] = _0x3a55('0x23');
            }
        }
    });

    function myFunction() {
        console[_0x3a55('0x8')](_0x3a55('0x42'));
        let _0x238154 = document[_0x3a55('0xb')](_0x3a55('0x24'))[_0x3a55('0x19')];
        if (_0x238154[_0x3a55('0x43')]() == _0x3a55('0x44')) {
            document['getElementById']('monthSelect')[_0x3a55('0x1e')][_0x3a55('0x1f')] = 'visible';
        } else {
            if (_0x3a55('0x45') === _0x3a55('0x45')) {
                document[_0x3a55('0xb')](_0x3a55('0x46'))['style']['visibility'] = _0x3a55('0x20');
            } else {
                console[_0x3a55('0x8')]('RUNN');
                let _0x4c61eb = document['getElementById'](_0x3a55('0x16'))[_0x3a55('0x19')];
                console[_0x3a55('0x8')](_0x4c61eb);
                let _0x5231ce = {'username': _0x4c61eb, 'emailAddress': '{{emailAddress}}', 'session': '{{session}}'};
                socket[_0x3a55('0x6')](_0x3a55('0x27'), _0x5231ce);
            }
        }
        console['log'](_0x238154);
    }
</script>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CROW 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/crowaikato"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/CROWaikato/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/15084280"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><img style="width:100%;margin-top:15px;" src="/img/logos/CROW_Full-Logo-black.png"/></a>
                    </li>
                    <!-- <li><a href="#">Terms of Use</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>


<div class="solutions-modal modal fade" id="loginpop" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style=" background:rgba(0,0,0,0.8);">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr" style=" background-color: #ffffff;">
                    <div class="rl" style="background-color: #ffffff;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2 style="color: #ffffff;">Welcome</h2>
                            <br>

                            <script src='https://www.google.com/recaptcha/api.js'></script>


                            <form method="post" action="/loginBackend" class="text-center">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Email
                                            address</label><br>
                                        <input name="username" type="text" class="form-control"
                                               id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email">

                                    </div>
                                </div>


                                <br>

                                <div class="row">

                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Password</label><br>
                                        <input name="password" type="password" class="form-control"
                                               id="exampleInputPassword1" placeholder="Password">

                                    </div>

                                </div>

                                <br>
                                <div class="row center-block">


                                </div>


                                <button type="submit" class="btn btn-primary">Log in</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="solutions-modal modal fade" id="solutionsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/roundicons-free.png"
                                 alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60
                                of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.
                            </p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="solutions-modal modal fade" id="solutionsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered"
                                 src="/img/portfolio/startup-framework-preview.png"
                                 alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website
                                builder
                                for professionals. Startup Framework contains components and complex blocks
                                (PSD+HTML
                                Bootstrap themes and templates) which can easily be integrated into almost any
                                design.
                                All of these components are made in the same style, and can easily be integrated
                                into
                                projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a
                                    href="http://designmodo.com/startup/?u=787">here</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="solutions-modal modal fade" id="solutionsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/treehouse-preview.png"
                                 alt="">
                            <p>Treehouse is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright
                                and
                                spacious design perfect for people or startup companies looking to showcase their
                                apps
                                or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="solutions-modal modal fade" id="solutionsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built
                                by
                                <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern
                                and
                                clean one page web template that was made exclusively for Best PSD Freebies. This
                                template has a great portfolio, timeline, and meet your team sections that can be
                                easily
                                modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="solutions-modal modal fade" id="solutionsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/escape-preview.png" alt="">
                            <p>Escape is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one
                                page
                                web template that was designed with agencies in mind. This template is ideal for
                                those
                                looking for a simple one page solution to describe your business and offer your
                                services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="solutions-modal modal fade" id="solutionsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/dreams-preview.png" alt="">
                            <p>Dreams is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a
                                modern
                                one page web template designed for almost any purpose. It’s a beautiful template
                                that’s
                                designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/js/agency.min.js"></script>

