<body id="page-top" class="index">
<!--File Created by: Ian Lai Kheng Yan-->
<script src="/javascripts/Chart.min.js"></script>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>


<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css"
      rel="stylesheet">

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>
</head>


<style>
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        padding-top: 100px; /* Location of the box */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0, 0, 0); /* Fallback color */
        background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
    }

    /* Modal Content */
    .modal-content {
        position: relative;
        background-color: #fefefe;
        margin: auto;
        padding: 0;
        border: 1px solid #888;
        width: 80%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        -webkit-animation-name: animatetop;
        -webkit-animation-duration: 0.4s;
        animation-name: animatetop;
        animation-duration: 0.4s
    }

    /* Add Animation */
    @-webkit-keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }

    @keyframes animatetop {
        from {
            top: -300px;
            opacity: 0
        }
        to {
            top: 0;
            opacity: 1
        }
    }

    /* The Close Button */
    .close {
        color: white;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    .modal-header {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }

    .modal-body {
        padding: 2px 16px;
    }

    .modal-footer {
        padding: 2px 16px;
        background-color: #5cb85c;
        color: white;
    }
</style>


<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top"
     style="background-color:#222222;padding:10px 0;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/crow-logo.png" alt="CROW Logo"
                                                                      style="width:auto;height:40px;border:0;"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="row">

                <div class="col-md-6 text-center" style="color: white;">
                    <h2>

                        Welcome,{{firstname}}

                    </h2>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll " href="/page/adminUserApproval">Approve/Deny Users</a>
                    </li>
                    <li>
                        <a class="page-scroll " href="/page/adminConsole">View Stats</a>
                    </li>
                    <li>

                        <a href="/page/logout" class="solutions-link btn btn-primary btn-sm" data-toggle="modal"
                           style="border-radius: 3px;">Logout</a>
                    </li>
                </ul>

            </div>

        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>


<script>
    var _0xd2ed = ['aGlkZGVuRW1haWw=', 'aGlkZGVuTmFtZQ==', 'dGV4dENvbnRlbnQ=', 'aGlkZGVuTWVzc2FnZQ==', 'bG9n', 'Y29sMURhdGE=', 'aW5uZXJIVE1M', 'Y29sMkRhdGE=', 'Y29sM0RhdGE=', 'Y29sNURhdGE=', 'Z2V0RWxlbWVudHNCeUNsYXNzTmFtZQ==', 'Y2xvc2U=', 'c3R5bGU=', 'ZGlzcGxheQ==', 'YmxvY2s=', 'b25jbGljaw==', 'dGFyZ2V0', 'Z2V0RWxlbWVudEJ5SWQ='];
    (function (_0x3156fd, _0x12968d) {
        var _0x51a084 = function (_0x515ab3) {
            while (--_0x515ab3) {
                _0x3156fd['push'](_0x3156fd['shift']());
            }
        };
        _0x51a084(++_0x12968d);
    }(_0xd2ed, 0xc5));
    var _0x3f9a = function (_0x354adc, _0x2dfb1f) {
        _0x354adc = _0x354adc - 0x0;
        var _0x3d2fca = _0xd2ed[_0x354adc];
        if (_0x3f9a['initialized'] === undefined) {
            (function () {
                var _0x393a8a;
                try {
                    var _0xd2f5dc = Function('return\x20(function()\x20' + '{}.constructor(\x22return\x20this\x22)(\x20)' + ');');
                    _0x393a8a = _0xd2f5dc();
                } catch (_0x7e3c0) {
                    _0x393a8a = window;
                }
                var _0x13d8a9 = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=';
                _0x393a8a['atob'] || (_0x393a8a['atob'] = function (_0x13b1df) {
                    var _0x44e313 = String(_0x13b1df)['replace'](/=+$/, '');
                    for (var _0x3c5798 = 0x0, _0x1fde1a, _0x2bf83c, _0x1ba1d8 = 0x0, _0x4a8814 = ''; _0x2bf83c = _0x44e313['charAt'](_0x1ba1d8++); ~_0x2bf83c && (_0x1fde1a = _0x3c5798 % 0x4 ? _0x1fde1a * 0x40 + _0x2bf83c : _0x2bf83c, _0x3c5798++ % 0x4) ? _0x4a8814 += String['fromCharCode'](0xff & _0x1fde1a >> (-0x2 * _0x3c5798 & 0x6)) : 0x0) {
                        _0x2bf83c = _0x13d8a9['indexOf'](_0x2bf83c);
                    }
                    return _0x4a8814;
                });
            }());
            _0x3f9a['base64DecodeUnicode'] = function (_0x16d7b9) {
                var _0x3af658 = atob(_0x16d7b9);
                var _0x448345 = [];
                for (var _0x5cd4ec = 0x0, _0x2da3b0 = _0x3af658['length']; _0x5cd4ec < _0x2da3b0; _0x5cd4ec++) {
                    _0x448345 += '%' + ('00' + _0x3af658['charCodeAt'](_0x5cd4ec)['toString'](0x10))['slice'](-0x2);
                }
                return decodeURIComponent(_0x448345);
            };
            _0x3f9a['data'] = {};
            _0x3f9a['initialized'] = !![];
        }
        var _0x50ea77 = _0x3f9a['data'][_0x354adc];
        if (_0x50ea77 === undefined) {
            _0x3d2fca = _0x3f9a['base64DecodeUnicode'](_0x3d2fca);
            _0x3f9a['data'][_0x354adc] = _0x3d2fca;
        } else {
            _0x3d2fca = _0x50ea77;
        }
        return _0x3d2fca;
    };

    function loadMsg(_0x427ef1) {
        let _0x276a22 = document[_0x3f9a('0x0')]('hiddenName' + _0x427ef1)['textContent'];
        let _0x497242 = document[_0x3f9a('0x0')](_0x3f9a('0x1') + _0x427ef1)['textContent'];
        let _0x13d44e = document[_0x3f9a('0x0')](_0x3f9a('0x2') + _0x427ef1)[_0x3f9a('0x3')];
        let _0x26d531 = document[_0x3f9a('0x0')](_0x3f9a('0x4') + _0x427ef1)[_0x3f9a('0x3')];
        console[_0x3f9a('0x5')](_0x276a22);
        console['log'](_0x497242);
        console[_0x3f9a('0x5')](_0x13d44e);
        console[_0x3f9a('0x5')](_0x26d531);
        document[_0x3f9a('0x0')](_0x3f9a('0x6'))[_0x3f9a('0x7')] = _0x427ef1;
        document['getElementById'](_0x3f9a('0x8'))[_0x3f9a('0x7')] = _0x276a22;
        document[_0x3f9a('0x0')](_0x3f9a('0x9'))[_0x3f9a('0x7')] = _0x497242;
        document['getElementById']('col4Data')['innerHTML'] = _0x13d44e;
        document[_0x3f9a('0x0')](_0x3f9a('0xa'))[_0x3f9a('0x7')] = _0x26d531;
        var _0x338920 = document[_0x3f9a('0x0')]('myModal');
        var _0x2f3673 = document[_0x3f9a('0xb')](_0x3f9a('0xc'))[0x0];
        _0x338920[_0x3f9a('0xd')][_0x3f9a('0xe')] = _0x3f9a('0xf');
        _0x2f3673[_0x3f9a('0x10')] = function () {
            _0x338920['style'][_0x3f9a('0xe')] = 'none';
        };
        window[_0x3f9a('0x10')] = function (_0x503e86) {
            if (_0x503e86[_0x3f9a('0x11')] == _0x338920) {
                _0x338920[_0x3f9a('0xd')][_0x3f9a('0xe')] = 'none';
            }
        };
    }

</script>
<!-- The Modal -->
<div id="myModal" class="modal">

    <!-- Modal content -->
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
            <h3>Details</h3>
        </div>
        <div class="modal-body">

            <div class="container">
                <div class="row">

                    <div class="col-md-12" style='word-wrap: break-word;'>
                        <h6>
                            #:
                        </h6>
                        <p id="col1Data">


                        </p>
                    </div>


                    <div class="col-md-12" style='word-wrap: break-word;'>
                        <h6>
                            Name:
                        </h6>

                        <p id="col2Data">

                        </p>
                    </div>
                    <div class="col-md-12" style='word-wrap: break-word;'>
                        <h6>
                            Email:
                        </h6>
                        <p id="col3Data">


                        </p>
                    </div>
                    <div class="col-md-12">
                        <h6>
                            Phone:
                        </h6>
                        <p id="col4Data">

                        </p>
                    </div>

                    <div class="col-md-12" style='word-wrap: break-word;'>
                        <h6>
                            Message:
                        </h6>
                        <p id="col5Data">


                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>


<!-- Services Section -->
<section id="overview" class="bg-light-gray">

    <div class="container">
        <h2>Contact Us</h2>

        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">


                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>Message</th>
                            <th>Show more</th>
                            <th>Archive</th>

                        </tr>
                        </thead>
                        <tbody>

                        {{# if rowDataHasItem}}
                            {{#each rowData}}


                                <tr>
                                    <td>{{id}}</td>
                                    <td>{{nameSub}}</td>
                                    <td>{{emailSub}}</td>
                                    <td>{{phoneSub}}</td>
                                    <td>{{messagSub}}</td>
                                    <td>
                                        <button type="button" class="btn btn-secondary" onclick="loadMsg('{{id}}')">
                                            More
                                        </button>
                                    </td>

                                    <td>
                                        <form action="/page/adminContactUsArchive" method="post">
                                            <input type="text" value="{{id}}" name="id" hidden>
                                            <button type="submit" class="btn btn-primary btn-sm">Archive</button>

                                        </form>
                                    </td>
                                    <div id="hiddenName{{id}}" hidden>{{name}}</div>
                                    <div id="hiddenEmail{{id}}" hidden>{{email}}</div>
                                    <div id="hiddenPhone{{id}}" hidden>{{phone}}</div>
                                    <div id="hiddenMessage{{id}}" hidden>{{message}}</div>

                                </tr>


                            {{/each}}


                        {{/if}}




                        </tbody>
                    </table>
                </div>
            </div>


        </div>
    </div>


</section>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CROW 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/crowaikato"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/CROWaikato/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/15084280"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><img style="width:100%;margin-top:15px;" src="/img/logos/CROW_Full-Logo-black.png"/></a>
                    </li>
                    <!-- <li><a href="#">Terms of Use</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>


<!-- Theme JavaScript -->
<script src="/javascripts/agency.min.js"></script>

