<body id="page-top" class="index">
<!--<style> @media screen and (max-height: 650px) {-->
<!--#rc-imageselect, .g-recaptcha {-->

<!--transform: scale(0.7);-->
<!---webkit-transform: scale(0.7);-->
<!--transform-origin: 0 0;-->
<!---webkit-transform-origin: 0 0;-->
<!--}-->
<!--}-->
<script src='https://www.google.com/recaptcha/api.js'></script>

<!--</style>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
<!-- jQuery -->
<script src="/vendor/jquery/jquery.min.js"></script>

<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-custom navbar-fixed-top"
     style="background-color:#222222;padding:10px 0;">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/crow-logo.png" alt="CROW Logo"
                                                                      style="width:auto;height:40px;border:0;"/></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

            <div class="row">

                <div class="col-md-9 text-center" style="color: white;">
                    <h2>

                        Welcome, {{firstname}}

                    </h2>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    <li>

                        <a href="/page/home" class="solutions-link" data-toggle="modal"
                           style="border-radius: 3px;">Home <i class="fa fa-home" aria-hidden="true"></i></a>
                    </li>
                    <li>

                        <a href="/page/logout" class="solutions-link btn btn-primary btn-sm" data-toggle="modal"
                           style="border-radius: 3px;">Logout</a>
                    </li>
                </ul>

            </div>

        </div>


        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<script language='javascript' type='text/javascript'>


    function check(input) {
        if (input.value != document.getElementById('password').value) {
            input.setCustomValidity('Password Must be Matching.');
        } else {
            // input is valid -- reset the error message
            input.setCustomValidity('');
        }
    }
</script>


<section id="overview" class="bg-light-gray">
    <div class="container" style="width:90%;">


        <div class="row">
            <div class="col-lg-12">

                {{# if passwordChangeSucc}}
                    <div class="panel panel-defaul">


                        <h2>Password changed successfully</h2>
                    </div>
                {{else}}
                    <form class="panel panel-default col-lg-12" action='/page/homeSettingsPasswordEdit' method="post"
                          id="updatePassword">

                        <div class="panel-body">
                            <h4>Change Password:</h4>
                        </div>


                        <div class="panel-body">
                            <div class="form-group col-md-12">
                                <label>Current Password</label>
                                <input type="password" class="form-control" id="currentpassword"
                                       placeholder="Current Password"
                                       name="currentpassword"
                                       pattern="^(?=.*\d)(?=.*[!@#\$%\^&\*])(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       title="Password should contain alphanumeric character with uppercase, lowercase and special characters (!,@,#,$,%,^,&,*)"
                                       required>
                                <label id="currentpasswordLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                        </div>

                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                <label>New Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password"
                                       name="password" pattern="^(?=.*\d)(?=.*[!@#\$%\^&\*])(?=.*[a-z])(?=.*[A-Z]).{8,}"
                                       title="Password should contain alphanumeric character with uppercase, lowercase and special characters (!,@,#,$,%,^,&,*)"
                                       required>
                                <label id="passwordLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                            <div class="form-group col-md-6">
                                <label>Confirm Password</label>
                                <input type="password" class="form-control" id="password_cfm" placeholder="Password"
                                       name="password_cfm" oninput="check(this)" required>
                                <label id="password_cfmLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                        </div>

                        <div class="row text-center">
                            <button type="submit" class="btn btn-primary btn-md">Change Password</button>

                        </div>
                        <br>


                    </form>

                {{/if}}
            </div>

            <div class="col-lg-12">

                {{# if detailschangesucc}}
                    <div class="panel panel-defaul">


                        <h2>Details changed successfully</h2>
                    </div>


                {{else}}
                    <form class="panel panel-default col-lg-12" action='/page/homeSettingsDetailsEdit' method="post"
                          id="updateDetails">

                        <div class="panel-body">
                            <h4>Edit details:</h4>
                        </div>


                        <div class="panel-body">

                            <div class="form-group col-md-6 col-xs-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="First Name"
                                       name="firstName" value="{{firstname}}"
                                       required>
                                <label id="firstNameLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                            <div class="form-group col-md-6 col-xs-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name"
                                       name="lastName" value="{{lastname}}"
                                       required>
                                <label id="lastNameLabel" style="color: red;visibility: hidden;"></label>

                            </div>


                        </div>


                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                <label>Job Title</label>
                                <input type="text" class="form-control" id="jobtitle" placeholder="Job title"
                                       name="jobtitle" value="{{jobtitle}}"
                                       required>
                                <label id="jobtitleLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                            <div class="form-group col-md-6">
                                <label>Company/Institution</label>
                                <input type="text" class="form-control" id="institution" placeholder="Institution"
                                       value="{{company}}"
                                       name="institution" required>
                                <label id="institutionLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                        </div>

                        <hr>


                        <div class="panel-body">
                            <div class="form-group col-md-3">
                                <label>Country</label>
                                <select id="countrySelectjs" class="form-control" name="countryName" required>

                                    <option value="">-Select a value-</option>
                                    <option value="AF">Afghanistan</option>
                                    <option value="AX">Åland Islands</option>
                                    <option value="AL">Albania</option>
                                    <option value="DZ">Algeria</option>
                                    <option value="AS">American Samoa</option>
                                    <option value="AD">Andorra</option>
                                    <option value="AO">Angola</option>
                                    <option value="AI">Anguilla</option>
                                    <option value="AQ">Antarctica</option>
                                    <option value="AG">Antigua and Barbuda</option>
                                    <option value="AR">Argentina</option>
                                    <option value="AM">Armenia</option>
                                    <option value="AW">Aruba</option>
                                    <option value="AU">Australia</option>
                                    <option value="AT">Austria</option>
                                    <option value="AZ">Azerbaijan</option>
                                    <option value="BS">Bahamas</option>
                                    <option value="BH">Bahrain</option>
                                    <option value="BD">Bangladesh</option>
                                    <option value="BB">Barbados</option>
                                    <option value="BY">Belarus</option>
                                    <option value="BE">Belgium</option>
                                    <option value="BZ">Belize</option>
                                    <option value="BJ">Benin</option>
                                    <option value="BM">Bermuda</option>
                                    <option value="BT">Bhutan</option>
                                    <option value="BO">Bolivia, Plurinational State of</option>
                                    <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                                    <option value="BA">Bosnia and Herzegovina</option>
                                    <option value="BW">Botswana</option>
                                    <option value="BV">Bouvet Island</option>
                                    <option value="BR">Brazil</option>
                                    <option value="IO">British Indian Ocean Territory</option>
                                    <option value="BN">Brunei Darussalam</option>
                                    <option value="BG">Bulgaria</option>
                                    <option value="BF">Burkina Faso</option>
                                    <option value="BI">Burundi</option>
                                    <option value="KH">Cambodia</option>
                                    <option value="CM">Cameroon</option>
                                    <option value="CA">Canada</option>
                                    <option value="CV">Cape Verde</option>
                                    <option value="KY">Cayman Islands</option>
                                    <option value="CF">Central African Republic</option>
                                    <option value="TD">Chad</option>
                                    <option value="CL">Chile</option>
                                    <option value="CN">China</option>
                                    <option value="CX">Christmas Island</option>
                                    <option value="CC">Cocos (Keeling) Islands</option>
                                    <option value="CO">Colombia</option>
                                    <option value="KM">Comoros</option>
                                    <option value="CG">Congo</option>
                                    <option value="CD">Congo, the Democratic Republic of the</option>
                                    <option value="CK">Cook Islands</option>
                                    <option value="CR">Costa Rica</option>
                                    <option value="CI">Côte d'Ivoire</option>
                                    <option value="HR">Croatia</option>
                                    <option value="CU">Cuba</option>
                                    <option value="CW">Curaçao</option>
                                    <option value="CY">Cyprus</option>
                                    <option value="CZ">Czech Republic</option>
                                    <option value="DK">Denmark</option>
                                    <option value="DJ">Djibouti</option>
                                    <option value="DM">Dominica</option>
                                    <option value="DO">Dominican Republic</option>
                                    <option value="EC">Ecuador</option>
                                    <option value="EG">Egypt</option>
                                    <option value="SV">El Salvador</option>
                                    <option value="GQ">Equatorial Guinea</option>
                                    <option value="ER">Eritrea</option>
                                    <option value="EE">Estonia</option>
                                    <option value="ET">Ethiopia</option>
                                    <option value="FK">Falkland Islands (Malvinas)</option>
                                    <option value="FO">Faroe Islands</option>
                                    <option value="FJ">Fiji</option>
                                    <option value="FI">Finland</option>
                                    <option value="FR">France</option>
                                    <option value="GF">French Guiana</option>
                                    <option value="PF">French Polynesia</option>
                                    <option value="TF">French Southern Territories</option>
                                    <option value="GA">Gabon</option>
                                    <option value="GM">Gambia</option>
                                    <option value="GE">Georgia</option>
                                    <option value="DE">Germany</option>
                                    <option value="GH">Ghana</option>
                                    <option value="GI">Gibraltar</option>
                                    <option value="GR">Greece</option>
                                    <option value="GL">Greenland</option>
                                    <option value="GD">Grenada</option>
                                    <option value="GP">Guadeloupe</option>
                                    <option value="GU">Guam</option>
                                    <option value="GT">Guatemala</option>
                                    <option value="GG">Guernsey</option>
                                    <option value="GN">Guinea</option>
                                    <option value="GW">Guinea-Bissau</option>
                                    <option value="GY">Guyana</option>
                                    <option value="HT">Haiti</option>
                                    <option value="HM">Heard Island and McDonald Islands</option>
                                    <option value="VA">Holy See (Vatican City State)</option>
                                    <option value="HN">Honduras</option>
                                    <option value="HK">Hong Kong</option>
                                    <option value="HU">Hungary</option>
                                    <option value="IS">Iceland</option>
                                    <option value="IN">India</option>
                                    <option value="ID">Indonesia</option>
                                    <option value="IR">Iran, Islamic Republic of</option>
                                    <option value="IQ">Iraq</option>
                                    <option value="IE">Ireland</option>
                                    <option value="IM">Isle of Man</option>
                                    <option value="IL">Israel</option>
                                    <option value="IT">Italy</option>
                                    <option value="JM">Jamaica</option>
                                    <option value="JP">Japan</option>
                                    <option value="JE">Jersey</option>
                                    <option value="JO">Jordan</option>
                                    <option value="KZ">Kazakhstan</option>
                                    <option value="KE">Kenya</option>
                                    <option value="KI">Kiribati</option>
                                    <option value="KP">Korea, Democratic People's Republic of</option>
                                    <option value="KR">Korea, Republic of</option>
                                    <option value="KW">Kuwait</option>
                                    <option value="KG">Kyrgyzstan</option>
                                    <option value="LA">Lao People's Democratic Republic</option>
                                    <option value="LV">Latvia</option>
                                    <option value="LB">Lebanon</option>
                                    <option value="LS">Lesotho</option>
                                    <option value="LR">Liberia</option>
                                    <option value="LY">Libya</option>
                                    <option value="LI">Liechtenstein</option>
                                    <option value="LT">Lithuania</option>
                                    <option value="LU">Luxembourg</option>
                                    <option value="MO">Macao</option>
                                    <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                                    <option value="MG">Madagascar</option>
                                    <option value="MW">Malawi</option>
                                    <option value="MY">Malaysia</option>
                                    <option value="MV">Maldives</option>
                                    <option value="ML">Mali</option>
                                    <option value="MT">Malta</option>
                                    <option value="MH">Marshall Islands</option>
                                    <option value="MQ">Martinique</option>
                                    <option value="MR">Mauritania</option>
                                    <option value="MU">Mauritius</option>
                                    <option value="YT">Mayotte</option>
                                    <option value="MX">Mexico</option>
                                    <option value="FM">Micronesia, Federated States of</option>
                                    <option value="MD">Moldova, Republic of</option>
                                    <option value="MC">Monaco</option>
                                    <option value="MN">Mongolia</option>
                                    <option value="ME">Montenegro</option>
                                    <option value="MS">Montserrat</option>
                                    <option value="MA">Morocco</option>
                                    <option value="MZ">Mozambique</option>
                                    <option value="MM">Myanmar</option>
                                    <option value="NA">Namibia</option>
                                    <option value="NR">Nauru</option>
                                    <option value="NP">Nepal</option>
                                    <option value="NL">Netherlands</option>
                                    <option value="NC">New Caledonia</option>
                                    <option value="NZ">New Zealand</option>
                                    <option value="NI">Nicaragua</option>
                                    <option value="NE">Niger</option>
                                    <option value="NG">Nigeria</option>
                                    <option value="NU">Niue</option>
                                    <option value="NF">Norfolk Island</option>
                                    <option value="MP">Northern Mariana Islands</option>
                                    <option value="NO">Norway</option>
                                    <option value="OM">Oman</option>
                                    <option value="PK">Pakistan</option>
                                    <option value="PW">Palau</option>
                                    <option value="PS">Palestinian Territory, Occupied</option>
                                    <option value="PA">Panama</option>
                                    <option value="PG">Papua New Guinea</option>
                                    <option value="PY">Paraguay</option>
                                    <option value="PE">Peru</option>
                                    <option value="PH">Philippines</option>
                                    <option value="PN">Pitcairn</option>
                                    <option value="PL">Poland</option>
                                    <option value="PT">Portugal</option>
                                    <option value="PR">Puerto Rico</option>
                                    <option value="QA">Qatar</option>
                                    <option value="RE">Réunion</option>
                                    <option value="RO">Romania</option>
                                    <option value="RU">Russian Federation</option>
                                    <option value="RW">Rwanda</option>
                                    <option value="BL">Saint Barthélemy</option>
                                    <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                                    <option value="KN">Saint Kitts and Nevis</option>
                                    <option value="LC">Saint Lucia</option>
                                    <option value="MF">Saint Martin (French part)</option>
                                    <option value="PM">Saint Pierre and Miquelon</option>
                                    <option value="VC">Saint Vincent and the Grenadines</option>
                                    <option value="WS">Samoa</option>
                                    <option value="SM">San Marino</option>
                                    <option value="ST">Sao Tome and Principe</option>
                                    <option value="SA">Saudi Arabia</option>
                                    <option value="SN">Senegal</option>
                                    <option value="RS">Serbia</option>
                                    <option value="SC">Seychelles</option>
                                    <option value="SL">Sierra Leone</option>
                                    <option value="SG">Singapore</option>
                                    <option value="SX">Sint Maarten (Dutch part)</option>
                                    <option value="SK">Slovakia</option>
                                    <option value="SI">Slovenia</option>
                                    <option value="SB">Solomon Islands</option>
                                    <option value="SO">Somalia</option>
                                    <option value="ZA">South Africa</option>
                                    <option value="GS">South Georgia and the South Sandwich Islands</option>
                                    <option value="SS">South Sudan</option>
                                    <option value="ES">Spain</option>
                                    <option value="LK">Sri Lanka</option>
                                    <option value="SD">Sudan</option>
                                    <option value="SR">Suriname</option>
                                    <option value="SJ">Svalbard and Jan Mayen</option>
                                    <option value="SZ">Swaziland</option>
                                    <option value="SE">Sweden</option>
                                    <option value="CH">Switzerland</option>
                                    <option value="SY">Syrian Arab Republic</option>
                                    <option value="TW">Taiwan, Province of China</option>
                                    <option value="TJ">Tajikistan</option>
                                    <option value="TZ">Tanzania, United Republic of</option>
                                    <option value="TH">Thailand</option>
                                    <option value="TL">Timor-Leste</option>
                                    <option value="TG">Togo</option>
                                    <option value="TK">Tokelau</option>
                                    <option value="TO">Tonga</option>
                                    <option value="TT">Trinidad and Tobago</option>
                                    <option value="TN">Tunisia</option>
                                    <option value="TR">Turkey</option>
                                    <option value="TM">Turkmenistan</option>
                                    <option value="TC">Turks and Caicos Islands</option>
                                    <option value="TV">Tuvalu</option>
                                    <option value="UG">Uganda</option>
                                    <option value="UA">Ukraine</option>
                                    <option value="AE">United Arab Emirates</option>
                                    <option value="GB">United Kingdom</option>
                                    <option value="US">United States</option>
                                    <option value="UM">United States Minor Outlying Islands</option>
                                    <option value="UY">Uruguay</option>
                                    <option value="UZ">Uzbekistan</option>
                                    <option value="VU">Vanuatu</option>
                                    <option value="VE">Venezuela, Bolivarian Republic of</option>
                                    <option value="VN">Viet Nam</option>
                                    <option value="VG">Virgin Islands, British</option>
                                    <option value="VI">Virgin Islands, U.S.</option>
                                    <option value="WF">Wallis and Futuna</option>
                                    <option value="EH">Western Sahara</option>
                                    <option value="YE">Yemen</option>
                                    <option value="ZM">Zambia</option>
                                    <option value="ZW">Zimbabwe</option>
                                </select>
                                <label id="countryNameLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                            <div class="form-group col-md-3">
                                <label>State</label>
                                <input type="text" class="form-control" id="state" placeholder="State" name="state"
                                       value="{{state}}" required>

                                <label id="stateLabel" style="color: red;visibility: hidden;"></label>


                            </div>
                            <div class="form-group col-md-3">
                                <label>City</label>
                                <input type="text" class="form-control" id="city" placeholder="City" name="cityName"
                                       value="{{city}}" required>

                                <label id="cityNameLabel" style="color: red;visibility: hidden;"></label>


                            </div>

                            <div class="form-group col-md-3">
                                <label>Zip code</label>
                                <input type="number" class="form-control" id="zipcode" name="zipcode"
                                       value="{{zipcode}}"
                                       required>

                                <label id="zipcodeLabel" style="color: red;visibility: hidden;"></label>


                            </div>
                        </div>

                        <div class="panel-body">
                            <label>Address</label>
                            <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St"
                                   value="{{address}}"
                                   name="inputAddress"
                                   required>

                            <label id="inputAddressLabel" style="color: red;visibility: hidden;"></label>

                        </div>
                        <hr>
                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                <label>Phone Number (With area code)</label>
                                <input type="tel" class="form-control" id="phoneNumber" placeholder="E.g. +64123456"
                                       name="phoneNumber" pattern="[\+][\d]+"
                                       title="Format: +[CountryCode][PhoneNumber] E.g.+64067512345" value="{{phoneno}}"
                                       required>

                                <label id="phoneNumberLabel" style="color: red;visibility: hidden;"></label>

                            </div>

                            <div class="form-group col-md-6">
                                <label>Fax Number (With area code)</label>
                                <input type="tel" class="form-control" id="faxNumber" placeholder="E.g. +64123456"
                                       value="{{faxno}}"
                                       name="faxNumber" pattern="[\+][\d]+"
                                       title="Format: +[CountryCode][PhoneNumber] E.g.+64067512345" required>

                                <label id="faxNumberLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                        </div>
                        <div class="panel-body">

                            <div class="form-group col-md-6">
                                <label>What sector do you work?</label>
                                <select id="sectorSelectjs" class="form-control" name="workSector" required>


                                    <option value="">-Select a value-</option>
                                    <option value="Academic">Academic</option>
                                    <option value="Government">Government</option>
                                    <option value="Industry">Industry</option>
                                    <option value="Other">Other</option>


                                </select>
                                <label id="workSectorLabel" style="color: red;visibility: hidden;"></label>

                            </div>
                            <div class="form-group col-md-6">
                                <label>What is your primary job function?</label>
                                <select id="jobFunctionSelectjs" class="form-control" name="jobFunction" required>


                                    <option value="">-Select a value-</option>
                                    <option value="Academic/Researcher">Academic/Researcher</option>
                                    <option value="Engineer/Developer">Engineer/Developer</option>
                                    <option value="System/Network Administrator">System/Network Administrator</option>
                                    <option value="Manager/Director">Manager/Director</option>


                                </select>
                                <label id="jobFunctionLabel" style="color: red;visibility: hidden;"></label>

                            </div>


                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="form-check col-md-3">
                                    <label>Are you a full time student?</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-check col-md-2 col-xs-2">
                                    <label class="form-check-label">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="Radios1"
                                               value="option1" required>
                                        Yes
                                    </label>
                                </div>
                                <div class="form-check">
                                    <label class="form-check-label col-xs-2">
                                        <input class="form-check-input" type="radio" name="exampleRadios" id="Radios2"
                                               value="option2" required>
                                        No
                                    </label>
                                </div>

                            </div>
                            <label id="exampleRadiosLabel" style="color: red;visibility: hidden;"></label>

                        </div>


                            <div class="row text-center">
                                <div id="rc-imageselect" class="g-recaptcha" style="display: inline-block;"
                                     data-sitekey="6LdwBzwUAAAAAPA3xKJV4d5b5wQQ49f3sIYW9Clv" data-size="compact"></div><br>
                                <label id="captchaLabel" style="color: red;visibility: hidden;"></label><br>
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                            </div>


                        <br>

                    </form>


                {{/if}}
            </div>


        </div>


    </div>
</section>

<script>
    $(document).ready(function () {

        $('#countrySelectjs').val('{{country}}');
        $('#sectorSelectjs').val('{{sectorwork}}');
        $('#jobFunctionSelectjs').val('{{jobfunction}}');

        var checkRadio = "{{fulltimestudent}}";

        if (checkRadio == "yes") {
            document.getElementById("Radios1").checked = true;
        } else {
            document.getElementById("Radios2").checked = true;
        }


    });

</script>
<script>

    var temp2;
</script>

{{# if errorHasErrorDetail}}

    {{#each errormsgDetail}}
        <script>
            document.getElementById('{{param}}Label').style.visibility = "visible";

            temp2 = document.getElementById('{{param}}Label').innerHTML;
            document.getElementById('{{param}}Label').innerHTML = temp2 + "<br>{{msg}}";

        </script>

    {{/each}}


{{/if}}



<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; CROW 2017</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="https://twitter.com/crowaikato"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="https://www.facebook.com/CROWaikato/"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="https://www.linkedin.com/company/15084280"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><img style="width:100%;margin-top:15px;" src="/img/logos/CROW_Full-Logo-black.png"/></a>
                    </li>
                    <!-- <li><a href="#">Terms of Use</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </div>
</footer>

<!-- Portfolio Modals -->
<!-- Use the modals below to showcase details about your portfolio projects! -->

<!-- Portfolio Modal 1 -->


<div class="solutions-modal modal fade" id="loginpop" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style=" background:rgba(0,0,0,0.8);">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr" style=" background-color: #ffffff;">
                    <div class="rl" style="background-color: #ffffff;">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 style="color: #ffffff;">Welcome</h2>
                            <br>
                            <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                            <!--&lt;!&ndash;<img class="img-responsive img-centered" src="/img/portfolio/roundicons-free.png" alt="">&ndash;&gt;-->
                            <!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
                            <!--<p>-->
                            <!--<strong>Want these icons in this portfolio item sample?</strong>You can download 60 of them for free, courtesy of <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>, or you can purchase the 1500 icon set <a href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.</p>-->
                            <!--<ul class="list-inline">-->
                            <!--<li>Date: July 2014</li>-->
                            <!--<li>Client: Round Icons</li>-->
                            <!--<li>Category: Graphic Design</li>-->
                            <!--</ul>-->



                            <form method="post" action="/loginBackend" class="text-center">
                                <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Email
                                            address</label><br>
                                        <input name="username" type="text" class="form-control"
                                               id="exampleInputEmail1"
                                               aria-describedby="emailHelp" placeholder="Enter email">

                                        <!--<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
                                    </div>
                                </div>


                                <br>

                                <div class="row">
                                    <!--<div class="col-md-3">-->
                                    <!--</div>-->
                                    <div class="col-md-2"></div>
                                    <div class="form-group text-center col-md-8">

                                        <label style="color: #ffffff;">Password</label><br>
                                        <input name="password" type="password" class="form-control"
                                               id="exampleInputPassword1" placeholder="Password">

                                    </div>

                                </div>

                                <br>
                                <div class="row center-block">


                                    <!--<div class="col-md-6 text-center"></div>-->
                                    <!--<div class="g-recaptcha" style="display: inline-block;" data-sitekey="6LdwBzwUAAAAAPA3xKJV4d5b5wQQ49f3sIYW9Clv"></div>-->


                                </div>


                                <!--<div class="form-check">-->
                                <!--<label class="form-check-label">-->
                                <!--<input type="checkbox" class="form-check-input">-->
                                <!--Check me out-->
                                <!--</label>-->
                                <!--</div>-->


                                <button type="submit" class="btn btn-primary">Log in</button>
                            </form>

                            <!--<hr>-->

                            <!--<div class="row">-->
                            <!--<div class="col-lg-12 text-center">-->
                            <!--<h3 class="section-subheading text-muted" style="color:white;">-->
                            <!--Need an account?<br><br>-->
                            <!--</h3>-->
                            <!--</div>-->
                            <!--</div>-->
                            <!--<a type="button" class="btn btn-primary" href="google.com"><i-->
                            <!--class="fa fa-times"></i> Register-->
                            <!--</a>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="solutions-modal modal fade" id="solutionsModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/roundicons-free.png"
                                 alt="">
                            <p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur
                                adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt
                                repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae,
                                nostrum, reiciendis facere nemo!</p>
                            <p>
                                <strong>Want these icons in this portfolio item sample?</strong>You can download 60
                                of
                                them for free, courtesy of <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">RoundIcons.com</a>,
                                or you can purchase the 1500 icon set <a
                                    href="https://getdpd.com/cart/hoplink/18076?referrer=bvbo4kax5k8ogc">here</a>.
                            </p>
                            <ul class="list-inline">
                                <li>Date: July 2014</li>
                                <li>Client: Round Icons</li>
                                <li>Category: Graphic Design</li>
                            </ul>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="solutions-modal modal fade" id="solutionsModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Project Heading</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered"
                                 src="/img/portfolio/startup-framework-preview.png"
                                 alt="">
                            <p><a href="http://designmodo.com/startup/?u=787">Startup Framework</a> is a website
                                builder
                                for professionals. Startup Framework contains components and complex blocks
                                (PSD+HTML
                                Bootstrap themes and templates) which can easily be integrated into almost any
                                design.
                                All of these components are made in the same style, and can easily be integrated
                                into
                                projects, allowing you to create hundreds of solutions for your future projects.</p>
                            <p>You can preview Startup Framework <a
                                    href="http://designmodo.com/startup/?u=787">here</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="solutions-modal modal fade" id="solutionsModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/treehouse-preview.png"
                                 alt="">
                            <p>Treehouse is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. This is bright
                                and
                                spacious design perfect for people or startup companies looking to showcase their
                                apps
                                or other projects.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/treehouse-free-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="solutions-modal modal fade" id="solutionsModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/golden-preview.png" alt="">
                            <p>Start Bootstrap's Agency theme is based on Golden, a free PSD website template built
                                by
                                <a href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Golden is a modern
                                and
                                clean one page web template that was made exclusively for Best PSD Freebies. This
                                template has a great portfolio, timeline, and meet your team sections that can be
                                easily
                                modified to fit your needs.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/golden-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="solutions-modal modal fade" id="solutionsModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/escape-preview.png" alt="">
                            <p>Escape is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Escape is a one
                                page
                                web template that was designed with agencies in mind. This template is ideal for
                                those
                                looking for a simple one page solution to describe your business and offer your
                                services.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/escape-one-page-psd-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="solutions-modal modal fade" id="solutionsModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2>Project Name</h2>
                            <p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>
                            <img class="img-responsive img-centered" src="/img/portfolio/dreams-preview.png" alt="">
                            <p>Dreams is a free PSD web template built by <a
                                    href="https://www.behance.net/MathavanJaya">Mathavan Jaya</a>. Dreams is a
                                modern
                                one page web template designed for almost any purpose. It’s a beautiful template
                                that’s
                                designed with the Bootstrap framework in mind.</p>
                            <p>You can download the PSD template in this portfolio sample item at <a
                                    href="http://freebiesxpress.com/gallery/dreams-free-one-page-web-template/">FreebiesXpress.com</a>.
                            </p>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"><i
                                    class="fa fa-times"></i> Close Project
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap Core JavaScript -->
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="/js/jqBootstrapValidation.js"></script>
<script src="/js/contact_me.js"></script>

<!-- Theme JavaScript -->
<script src="/js/agency.min.js"></script>
